.error404{
	.avia-breadcrumbs{
		display: none !important;
	}
}
#top .menu-item-search-dropdown > a, #searchform #searchsubmit, .ajax_search_image, .iconfont {
		font-size: 17px !important;
}

#top{

	.header_bg{
		opacity: 1 !important;
	}

	&.search-results{
		.avia-breadcrumbs{
			display: none !important;
		}
	}

	.menuSearch{
		display: none !important;
	}

	#mobile-advanced{
		.menuSearch{
			display: block !important;

			div{
				position: relative;

				#mobile_searchsubmit{
					position: absolute;
					top: 0;
					right: 0;
					z-index: 100;
					height: 100%;
				}
			}
		}
	}

	.av-main-nav{
		li{
			a{
				color: #fff;

				&:hover{
					text-decoration: underline;
				}
			}
		}
	}

	.avia-section{
		.iconbox{
			.iconbox_content{
				padding-bottom: 10px !important;

				-webkit-transition: all 0.3s ease;
				-moz-transition: all 0.3s ease;
				-o-transition: all 0.3s ease;
				transition: all 0.3s ease;

				.iconbox_icon{
					-webkit-transition: all 0.3s ease;
					-moz-transition: all 0.3s ease;
					-o-transition: all 0.3s ease;
					transition: all 0.3s ease;
				}

				&:hover {
						background: none repeat scroll 0 0 #e4e4e4 !important;

						.iconbox_icon{
							font-size: 50px;
						}
				}
			}
		}
	}

	.iconbox{
		&.instagram_block{
			background: #517fa4;
			border-radius: 13px;
			padding-top: 15px;
			padding-bottom: 30px;
			overflow: hidden;

			.iconbox_icon{
				margin: 0 auto !important;
				border-style: none !important;

				&:before{
					color: white;
						font-size: 43px;
				}
			}

			.iconbox_content_title{
				display: none;
			}

			.iconbox_content_container {
				color: #fff;
				font-size: 18px;

				h2{
					font-weight: 400 !important;
					margin-top: -15px;
					margin-bottom: -10px;
				}
			}

			#sb_instagram{
				float: none;
				margin-top: 56px;

				#sbi_images{
					max-width: 500px;
					margin: 0 auto 20px;
					float: none;

					.sbi_item {
						width: auto !important;
						display: inline-block;

						img {
							margin: 0;
							padding: 0;
							max-width: 125px;
							margin: -2px;
						}
					}
				}

				#sbi_load{
					a{
						background: none;
						color: #fff;
						font-size: 25px;
						margin-top: 20px;
						margin-bottom: 12px;
					}
				}
			}
		}

		&.twitter_block,
		&.linkedin_block,
		&.facebook_block {
			background: #4099ff;
			border-radius: 13px;
			padding-top: 15px;
			padding-bottom: 30px;
			overflow: hidden;

			.iconbox_icon{
				margin: 0 auto !important;
				border-style: none !important;

				&:before{
					color: white;
						font-size: 43px;
				}
			}

			.iconbox_content_title{
				display: none;
			}

			.iconbox_content_container {
				color: #fff;
				font-size: 18px;

				h2{
					font-weight: 400 !important;
					margin-top: -15px;
					margin-bottom: -10px;
				}


				.wolf-tweet-time,
				.wolf-tweet-text{
					display: block;
					text-align: left;
					font-size: 12px;
					line-height: 16px;

					a{
						color: #a1daff;
					}
				}

				.wolf-tweet-time{

					a{
						color: #86bfff;
					}
				}

				ul.wolf-tweet-list{
					margin: 0 45px 40px;

					li{
						padding: 0;
						margin-bottom: 12px;

						&:before{
							content: "";
						}
					}
				}
			}
		}

		&.linkedin_block{
			background: #1985bb;
		}

		&.facebook_block{
			background: #385ba6;
		}


	}

}

.iconbox_content_container a.fill {
		height: 100%;
		left: 0;
		position: absolute;
		text-indent: -9999px;
		top: 0;
		width: 100%;

		&:hover{
			background: none repeat scroll 0 0 rgba(0, 0, 0, 0.2);
		}
}

.logo{
	a{
		img{
			display: inline;
				vertical-align: middle;
				max-height: 25px !important;
		}
	}
}


.clearfix:before, .clearfix:after { content: "\0020"; display: block; height: 0; overflow: hidden; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }

#timeline{
	width: 90%;
	margin: 0 auto;

	.timepoint{
		position: relative;
		//overflow: hidden;
		clear: both;
		z-index: 1;


		&:after{
			content: "";
			position: absolute;
			z-index: 0;
			width: 6px;
			height: 100%;
			top: 0;
			//right: 345px;
			right: 39%;
			background: #d2d4d9;
		}


		&.ismap{
			margin-bottom: 350px;
		}

		&.first{
			&:after{
				height: 50%;
				top: 50%;
			}
		}

		&.last{
			&:after{
				height: 50%;
				top: 0;
			}
		}

		.title{
			position: absolute;
			border-radius: 50%;
			background: #d2d4d9;
			color: #fff;
			text-align: center;
			width: 55px;
			height: 55px;
			right: 36.3%;
			top: 50%;
			margin-top: -27px;
			z-index: 1;

			span{
				display: block;
				margin-top: 20px;
				font-size: 15px;
				line-height: 17px;
				font-weight: 300;
			}

			&.highlight{
				width: 84px;
				height: 84px;
				background: #30c39e;
				right: 34.7%;
				margin-top: -42px;

				span{
					font-size: 25px;
					line-height: 27px;
					margin-top: 28px;
				}
			}
		}

		.point{
			background: #fff;
			//width: 270px;
			width: 30%;
			float: right;
			margin: 15px 0;
			position: relative;


			&:before {
					border-color: transparent  #ffffff transparent transparent;
					border-style: solid;
					border-width: 12px 12px;
					content: "";
					height: 0;
					position: absolute;
					left: -24px;
					top: 50%;
					margin-top: -12px;
					width: 0;
			}

			&.align_left{
				float: left;
				width: 50%;
				margin: -8% 0;

				&:before {
						border-color: transparent transparent transparent #ffffff;
						border-style: solid;
						border-width: 12px 12px;
						content: "";
						height: 0;
						position: absolute;
						left: auto;
						right: -24px;
						top: 50%;
						margin-top: -12px;
						width: 0;
				}
			}

			.text{
				padding: 20px;
				p{
					font-size: 18px;
					line-height: 25px;
					color: #52565e;
					font-weight: 300;
				}
			}
		}

		.map{
			float: right;
			background: #fff;
			border: 5px solid #d2d4d9;
			padding: 20px 30px;
			position: absolute;
			right: -30px;
				z-index: 2;
				width: 430px;

			.exchanges{
				border-top: 1px solid #e5e7ea;
				border-bottom: 1px solid #e5e7ea;
				padding: 5px 0;
				margin-top: 20px;

				.txt{
					color: #52565e;
					font-size: 13px;
					font-weight: 300;
					float: left;
					padding: 9px 0;
					width: 50%;
					display: table;

					span{
						display: table-cell;
						vertical-align: middle;
					}
				}

				.number{
					float: right;
					.num{
						float: left;
						background: #fff;
						color: #888c94;
						font-size: 18px;
						font-weight: 300;
						padding: 8px 6px;
						margin-left: 1px;
					}
				}
			}

			&.align_left{
				float: left;
				width: 52%;
				margin: -8% 0;
				background: none;
				border: none;
				padding: 0;
				position: relative;
				right: 0;


				.exchanges{
					padding: 15px 0;
					margin-top: 25px;

					.txt{
						font-size: 17px;
						padding: 9px 0;
					}

					.number{
						.num{
							background: #fff;
							font-size: 25px;
							font-weight: 300;
							padding: 10px 7px;
							margin-left: 6px;
						}
					}
				}
			}

		}
	}
}

.lightbox-added {
		overflow: hidden;
}

.post-meta-infos {
		margin: 20px 0;
}

#search-fail {
		min-height: 450px;

		h2{
			font-size: 50px;
		}
}

.image-overlay{
	.image-overlay-inside{
		display: none !important;
	}
}

#top .avia_ajax_form .captcha {
		padding-left: 65px !important;
}

.single{
	.big-preview{
		.wp-post-image{
			max-width: 600px;
		}
	}
}

body{
		h2{
			font-size: 48px;
			line-height: 54px;
			font-weight: 800;
		}
		h3{
			font-size: 48px;
			line-height: 54px;
			font-weight: 400;
		}
		h3{
			font-size: 30px;
			line-height: 36px;
			font-weight: 300;
		}

		p{
			color: #52565e;
		}

		h1, h2, h3, h4, h5, h6{
			text-transform: none;
			color: #52565e;
		}

		.template-page .entry-content-wrapper {
			h1, h2, h3, h4, h5, h6{
				text-transform: none;
				color: #52565e;
			}
		}
		

		a.aligncenter .aligncenter {
		    margin: 0 !important;
		    padding: 0 !important;
		}

	  input,
	  select{
	    font-family: Lato !important;
	  }

	  a.avia_image{
	    overflow: hidden;
	  }

	  a{
	    .image-overlay{
	   	 		background: rgba(255, 255, 255, 0.4) !important;
	   	 	}

	   	 	&:hover{
	   	 		.image-overlay {
	   	 			opacity: 0.4 !important;
	   	 		}
	   	 	}
	  }

	.avia-slideshow{
		.avia-slideshow-dots{
			bottom: 40px;
			a{
				border-radius: 0 !important;
				width: 22px;
				height: 22px;
			 			margin: 0 4px;
			 			background: #88898d !important;

			 			&.active{
			 				background: #066aca !important;
			 			}
			}
		}
	}

	.caption_framed .slideshow_caption .avia-caption-content p,
	.caption_framed .slideshow_caption .avia-caption-title,
	.avia-caption .avia-caption-content p,
	.avia-caption .avia-caption-title {
		background: none !important;
	}


	.more_padding{
		.flex_column {
				padding: 10px;
		}
	}

	.tabcontainer{
		margin: 0 auto;
			max-width: 801px;

		.tab{
			font-size: 16px;
			font-weight: 500;

			&.active_tab{
				background: #037ef3 !important;
				color: #ffffff !important;
				font-size: 17px;
				width: 100% !important;
			}
		}
		.tab_content{
			border: 2px solid #037ef3;
			padding: 15px 30px;
		}
	}

	.flex_cell{
		border: none !important;
	}

	.title_container {
		color: #fff !important;
			position: absolute !important;
			width: 100%;
		background: none !important;

			a{
				color: #fff !important;
			}

			.main-title.entry-title{
				display: none;
			}

			.breadcrumb{
				right: auto;
				left: 50px;
				color: #fff;
				font-size: 14px;

				.breadcrumb-title{
					display: none;
				}

				.sep{
					text-indent: -9999px;
					position: relative;
					width: 30px;

					&:before{
						content: " > ";
						left: 13px;
						position: absolute;
						text-indent: 0;
						top: 0;
						z-index: 10;
					}
				}
			}
	}

	.container_wrap{
		border: none;
	}

	.avia_textblock {
			clear: both;
			line-height: 1.2em;
	}

	.avia-button.avia-color-blue {
		background-color: #037ef3;
			border: none;
			color: #fff;
	}

	.avia-button.avia-color-green{
		background-color: #0a8ea0;
			border: none;
			color: #fff;
	}

	.avia-button.avia-color-orange{
		background-color: #f85a40;
			border: none;
			color: #fff;
	}

	.avia-button.avia-color-theme-color:hover{
		background-color: #015dd1;
	}


	.avia-button.avia-color-blue:hover{
		background-color: #005cd1;
	}
	.avia-button.avia-color-green:hover{
		background-color: #007183;
	}
	.avia-button.avia-color-orange:hover{
		background-color: #df4127;
	}

	.avia-button{
		border-radius: 10px !important;

		&.avia-size-small{
				font-size: 15px;
				line-height: 17px;
				min-width: 100px;
			padding: 9px 20px 9px;
			border-radius: 6px !important;
			}

		&.avia-size-medium{
				font-size: 18px;
				line-height: 20px;
				min-width: 230px;
			padding: 20px 30px;
			}

		&.avia-size-x-large{
				font-size: 36px;
				line-height: 38px;
				min-width: 310px;
			padding: 25px 35px;
			}


		&.avia-size-large{
				font-size: 30px;
				line-height: 32px;
				min-width: 290px;
			padding: 25px 40px;
			}

			&.avia-color-light{
				text-decoration: none !important;

				-webkit-transition: all 0.3s ease;
				-moz-transition: all 0.3s ease;
				-o-transition: all 0.3s ease;
				transition: all 0.3s ease;

				&:hover {
					background: #fff !important;
					color: #000 !important;
					opacity: 1 !important;
			}
			}

			&.avia-color-dark{
				-webkit-transition: all 0.3s ease;
				-moz-transition: all 0.3s ease;
				-o-transition: all 0.3s ease;
				transition: all 0.3s ease;

				&:hover {
					background: #333 !important;
					border-color: #333 !important;
					color: #fff !important;
					opacity: 1 !important;
			}
			}
	}

	.av_three_fifth{
		.avia-button{
			width: 100%;
		}
	}


	.heading.avia-animated-number-title{
		color: #fff;
			font-weight: bold;
			font-size: 60px;
			letter-spacing: 3px;

			.avia-no-number{
				color: #fff;
				opacity: 1;
			}
	}

	.avia-animated-number-content{
		margin-top: 5px;
		p{
			line-height: 21px !important;
					padding: 0 35px;
					letter-spacing: 1px;
					font-weight: 300;
					color: #fff;
		}
	}
}


.avia-section{
	padding: 30px 0;

	&.avia-section-no-padding{
		padding: 0;
	}
}


.mainHeader{
	color: #fff;

	.avia-content-slider-inner{
		.slide-entry-title{
			display: none;
		}
	}

	.template-page {
		.entry-content-wrapper{
			h1{
				text-transform: none;
				letter-spacing: -1px;
			}
			p{
				line-height: 40px;
			}
		}
	}

	.avia_textblock {
		p{
			margin: 0.85em auto;
			color: #fff;
		}
	}

	.av_three_fifth {
		.avia-button {
				width: auto !important;
		}
	}
}

.mainHeader2{
	color: #fff;

	.avia-content-slider-inner{
		.slide-entry-title{
			display: none;
		}
	}

	.template-page {
		.entry-content-wrapper{
			h1{
				text-transform: none;
				letter-spacing: -1px;
			}
			p{
				line-height: 40px;
			}
		}
	}

	.avia_textblock {
		p{
			margin: 0.85em auto;
			color: #fff;

		}
	}

	.av_three_fifth {
		.avia-button {
				width: auto !important;
		}
	}
}

.alternate_color{
	font-weight: 300;

	a{
		font-weight: 400;
	}
}

.threeEqualBlocks{
	.av_one_third{
		padding: 0 35px;
	}

	.flex_column{
		.avia_textblock {
			min-height: 290px;

			&.headline{
				min-height: 0;
			}

			h2{
				margin-bottom: 30px;
			}
		}

		.avia-button{
			width: 100%;
		}
	}

}

.threeEqualBlocks2{
	.avia_textblock {
		min-height: 135px;
		padding: 25px;

		&.headline{
			min-height: 0;
			padding: 0px;
		}

		h2{
			margin-bottom: 30px;
		}
	}

	.avia-button{
		font-size: 24px !important;
			padding-top: 25px !important;
			padding-bottom: 25px !important;

		.avia_button_background{
			display: none !important;
		}
	}

}

.noMinHeight {
	min-height: 0 !important;
}

.news_band{
	.slide-entry{
		.slide-content{
			min-height: 320px;
			padding: 20px 30px 60px;
			position: relative;

			.entry-title{
				a{
					font-size: 24px;
					line-height: 28px;
					color: #52565e  !important;
					display: block;
					margin-top: 10px;
					letter-spacing: -1px;

					&:hover{
						color: #000 !important;
					}
				}
			}

			.slide-meta{
				padding-top: 10px;
			}

			.entry-content{
				font-size: 17px;
				line-height: 23px;
				color: #52565e  !important;
				font-weight: 300;

				.read-more-link{
					bottom: 0;
					left: 0;
						position: absolute;
						width: 100%;
						padding: 0 30px;
					a{
						display: block;
						background: #037ef3;
						color: #fff;
						border-radius: 8px;
						text-align: center;
						padding: 10px 15px;

						.more-link-arrow{
							display: none;
						}

						&:hover {
								background-color: #005cd1;
								text-decoration: none;
						}
					}
				}
			}
		}
	}
}

.threeImgesBlocks,
.threeImagesBlock {

	&.avia-section-large {
		.content{
			padding-top: 25px;
		}
	}
	.av_one_third{

	}

	.avia_textblock {
		p.thin48{
			margin-bottom: 15px;
		}
	}

	.flex_column{
		.av_textblock_section .avia_textblock {
			min-height: 220px;
			padding: 20px 30px 0;

			h2{
				margin-bottom: 30px;
			}
		}
	}


	.avia-button-wrap{
		&.el_after_av_textblock{
			padding: 0 30px;
		}
		.avia-button{
			width: 100%;

				&.avia-button-fullwidth{
					border-radius: 0 !important;
					padding: 30px 20px !important;

					&:hover{
						text-decoration: none;
					}

					.avia-button-fullwidth{
						display: none !important;
					}
				}

				&.avia-size-medium{
					font-size: 15px;
				line-height: 16px;
				}
		}
	}


}

.programs_band{

	.avia_textblock {
		p.thin48{
			margin-bottom: 15px;
		}
	}

	.flex_column{
		.av_textblock_section .avia_textblock {
			min-height: 322px;
			padding: 20px 55px 20px 0;

			h2{
				font-size: 30px !important;
				line-height: 34px !important;
				min-height: 80px;
				letter-spacing: 0;
				font-weight: 300 !important;
			}
		}
	}

	.avia-button-wrap{
		width: 100%;
		max-width: 270px;

		.avia-button{
			width: 100%;
			min-width: 0 !important;

				&.avia-button-fullwidth{
					border-radius: 0 !important;
					padding: 21px 20px !important;
					font-size: 24px !important;

					&:hover{
						text-decoration: none;
					}

					.avia-button-fullwidth{
						display: none !important;
					}
				}

				&.avia-size-medium{
					font-size: 22px;
				line-height: 24px;
				padding: 20px 10px;
				}
		}
	}


	.avia-builder-el-last{
		max-width: 100%;
	}

}

.avia-section.top_rounded_buttons {
	padding: 0;
}
.avia-button-wrap.rounded-button {
	.avia-button {
		background: none;
		color: #037ef3;
		margin: 2px 30px;
		border-radius: 20px !important;

	}
	&.active {
		.avia-button {
			border: 2px solid #037ef3;
			margin: 0 30px;
		}
	}
}

.featured_textblock{
	.slide-image{
		border-radius: 0 !important;
	}
	img.wp-post-image{
		width: 100%;
		border-radius: 0 !important;
	}
	.avia-content-slider{
		.slide-entry{
			.slide-image{
				margin-bottom: 0;
			}

			.slide-content{
				padding: 25px;
				background: #f3f4f7;
				height: 133px;

				.entry-title{
					font-size: 23px;
					line-height: 26px;
					color: #037ef3;
					margin-bottom: 10px;
					font-weight: 400;
				}
				.slide-meta{
					display: none;
				}
			}
		}
	}
}

.whitebg_textblock{

}

.imagebg_textblock{
	.avia_textblock{
		p{
			width: 63%;
			margin: 0.85em auto;
		}
	}
}

#scroll-top-link{
	&.avia_pop_class{
		border: 1px solid #fff;
		background: #fff;
			bottom: 15px;
			font-size: 30px;
			opacity: 0.7;
			right: 15px;
			visibility: visible;
			color: #037ef3;

			&:hover{
				background: #037ef3;
			border: 1px solid #037ef3;
				color: #fff;
			}
	}
}

#footer{

	.footer_wrapping{
		//padding: 0 20px;
		color: #fff;

		p{
			color: #fff;
		}

		.av_one_third,
		.av_two_third{

		}

		.av_one_half{
			width: 50% !important;
		}

		.iconbox{
			a{
				color: #fff !important;
			}
		}
	}

	.widget{
		&.widget_text_icl{
			background: #fff;
			border-radius: 10px;

			.textwidget{
				position: relative;
				min-height: 320px;
				padding: 20px 0 110px;
				margin: 0 30px;

				.avia-button-wrap{
					position: absolute;
					bottom: 20px;
					left: 0;
					width: 100%;

					.avia-button{
						width: 100%;
					}
				}

				p{
					color: #333;
					font-size: 19px;
					line-height: 30px;
				}
			}
		}

		&.widget_nav_menu{
			background: #fff;
			border-radius: 10px;

			& > div{
				position: relative;
				min-height: 320px;
				padding: 20px 0;
				margin: 0 30px;

				ul{
					li{
						a{
							color: #333;
							font-size: 22px;
							line-height: 46px;
							font-weight: 400;
							display: block;
							background: url('images/arrow.png') no-repeat 0 center;
							padding-left: 45px;

							-webkit-transition: all 0.3s ease-in-out;
							-moz-transition: all 0.3s ease-in-out;
							-o-transition: all 0.3s ease-in-out;
							transition: all 0.3s ease-in-out;

							&:hover{
								color: #000;
								text-decoration: underline;
								background-position: 10px center;
							}
						}

						&.current-menu-item{
							background: none !important;
							box-shadow: none !important;
							a{
								color: #037ef3;
							}
						}
					}
				}
			}
		}

	}

	.copyrights_notice{
		text-align: center;
		font-weight: 300;
		color: #333;
		margin: 30px 0 0 ;
		font-size: 14px;
	}

	.copyrights{
		text-align: center;
		font-weight: 400;
		color: #333;
		margin: 30px 0 0 ;
	}


	// Footer navigation
	.footer_navigation{
		border-top: 3px solid #52565e;
		border-bottom: 3px solid #52565e;
		padding: 30px 0;
		height: 90px;
		margin: 15px 0;

		ul {
			text-align: justify;

			li{
				display: inline-block;

				a{
					color: #037ef3;
					font-size: 25px;
				}

				&.justifyer{
					height: 0;
						text-indent: -9999px;
						width: 100%;
				}
			}
		}
	}
}

.av-main-nav-wrap{
	.av-language-switch-item{
		display: none;
	}

	.av-menu-button-bordered{
		.avia-menu-text{
			border-radius: 6px;
				display: inline-block;
				line-height: 16px;
				min-width: 118px;
				padding: 5px 15px;

			-webkit-transition: all 0.3s ease-in-out;
			-moz-transition: all 0.3s ease-in-out;
			-o-transition: all 0.3s ease-in-out;
			transition: all 0.3s ease-in-out;

				&:hover{
					background: #fff;
					border-color: #fff;
					color: #037ff3;
				}
		}
	}
}

#top {

	.avia-smallarrow-slider-heading{
		bottom: -60px;
			position: absolute;

			.avia-slideshow-dots{
				text-align: center !important;
				width: 100% !important;

				a.goto-slide{
					border-radius: 0;
					width: 22px;
					height: 22px;
					margin: 0 4px;
					background: #fff !important;
					opacity: 0.3;

					&:hover{
						opacity: 1;
					}

					&.active{
						background: #066aca !important;
						opacity: 1;
					}

				}
			}
	}

	.av-menu-button{
		a{
			padding-right: 0;
		}
	}

	.video_band{
		p + h1, p + h2, p + h3, p + h4, p + h5, p + h6 {
				margin-top: 0;
		}

		.av-section-video-bg{
			opacity: 0;

			-webkit-transition: all 0.3s ease-in-out;
			-moz-transition: all 0.3s ease-in-out;
			-o-transition: all 0.3s ease-in-out;
			transition: all 0.3s ease-in-out;

			&.showMe{
				opacity: 1;
			}

			&:after{
				pointer-events: none;
			}
		}

		.hideMe{
			-webkit-transition: all 0.3s ease-in-out;
			-moz-transition: all 0.3s ease-in-out;
			-o-transition: all 0.3s ease-in-out;
			transition: all 0.3s ease-in-out;
			opacity: 0;
			pointer-events: none;
		}

		.showPlay{
			opacity: 1;
			pointer-events: auto;
		}
	}
}



.home{
	.title_container{
		display: none;
	}
}

/*
.trail-end{
	position: relative;

	&:after {
			background: none repeat scroll 0 0 #fff;
			bottom: -9px;
			content: "";
			height: 2px;
			left: 50%;
			margin-left: -16px;
			position: absolute;
			width: 30px;
	}
}
*/

#header_main{
	border: none !important;

	.container{
		min-height: 74px;
	}

}

#top{

	.header-scrolled{
		#header_main{
			.av-main-nav {
				li {
					a{
						min-height: 74px;
						line-height: 74px !important;
					}
				}
			}
			.container{
				min-height: 74px;
				line-height: 74px !important;
			}

			.logo{
				a{
					min-height: 74px !important;
				}
			}
		}
	}
}



#main{
	.container{
		padding-left: 82px;
		padding-right: 82px;
	}
}

.header_color .main_menu .menu ul li a:hover,
.header_color .av-subnav-menu ul a:hover {
	background-color: #1a55be !important;
	text-decoration: none !important;
}

#top .avia-font-entypo-fontello,
body .avia-font-entypo-fontello,
html body [data-av_iconfont="entypo-fontello"]:before {
		font-family: "entypo-fontello" !important;
}

.light_bg{

}

#top .header-scrolled #avia-menu,
#avia-menu {

	li{
		a{
			font-size: 14px;
			font-weight: 500;
			padding: 0 23px;

			&:hover{
				text-decoration: none !important;
			}

			.avia-menu-fx{
				display: none !important;
			}
		}

		&.current-menu-item,
		&.current_page_item,
		&.current_page_parent,
		&.current_page_ancestor,
		&.current-menu-parent {
			& > a{
				.avia-menu-text{
					position: relative;

					&:after{
						content: "";
						position: absolute;
						bottom: -5px;
						width: 100%;
						height: 2px;
						background: #fff;
						left: 0;
					}
				}
			}
		}


		&.av-menu-button {
			a {
					padding-right: 0;

					.avia-menu-text{
					position: relative;

					&:after{
						display: none;
					}
				}
			}

			&.current-menu-item{
				a{
					.avia-menu-text{
						background: #fff;
						color: #037ff3;
					}
				}
			}
		}
	}

	.current-menu-item{
		a{
			color: #fff !important;
			//text-decoration: underline !important;
		}
	}

	.sub-menu{
		border: 2px solid #fff !important;
		li{
				a{
					border: none !important;
					font-size: 13px !important;
					line-height: 16px !important;
					min-height: 0 !important;
					padding: 13px 15px !important;
				}

				.sub-menu {
					background: none repeat scroll 0 0 rgba(0, 0, 0, 0) !important;
					border: medium none !important;
					left: 0 !important;
					opacity: 1 !important;
					position: relative;
					visibility: visible !important;

					li{
						a{
							background: none !important;
							padding: 13px 15px 13px 27px !important;
							font-size: 12px !important;
							width: 204px !important;

							&:hover{
								background-color: #1a55be !important;
								text-decoration: none !important;
							}
						}
					}
			}
		}

	}
}

#main, .avia-msie-8 #header.av_header_sticky_disabled {
		background-color: #fff !important;
}




.tripple_band{
	max-width: 900px;
	margin: 0 auto;

	.av_textblock_section{
		display: table;
		width: 100%;
	}

	.avia_textblock {
		p{
			font-weight: 300;
		}

		&.blue_box,
		&.green_box{
			background: #037ef3;
			color: #fff;
			border-radius: 8px;
			height: 200px;
			vertical-align: middle;
			display: table-cell;

			p{

				font-weight: 600 !important;
			}
		}
		&.green_box{
			background: #0a8ea0;
		}
	}

	img{
		width: auto !important;
		margin: 0 auto;
	}
}

.contact_band{
	.entry-content-wrapper {
			margin: 0 auto;
			max-width: 650px;
	}
	p {
			text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
	}
}

.taglist{
	text-align: center;
	margin-bottom: 50px !important;

	.tag-seperator{
		display: inline-block;
	    padding: 0 10px !important;
	    text-indent: -9999px;
	}

	a{
				color: #0876df !important;
				border-radius: 50px;
				font-size: 24px;
				line-height: 24px;
		padding: 5px 17px !important;

		&:hover{
			text-decoration: underline !important;
		}

		&.activeFilter{
		    border: 2px solid #0876df !important;
		    text-decoration: none;
		}
		}
}


body{
	.comment-entry{
		max-width: 600px;
		margin: 0 auto;

		#commentform {
			label {
				position: absolute;
				left: 0;
				font-size: 11px;
				top: -25px;
				font-weight: bold;
			}

			input,
			textarea {

				box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.3);

				&.error{
					box-shadow: 0px 0px 3px 0px rgba(199,54,54,1);
				}
			}
		}
	}
}



.faq_menu,
.joinus_menu {
	border: none !important;
	//padding-bottom: 150px;
	height: auto !important;

		position: relative !important;
		top: 0 !important;
		bottom: 0 !important;

	ul {
		padding: 50px 0;
		li{
			margin: 0 10px !important;

			a{
				color: #0876df !important;
				border-radius: 50px;
				font-size: 24px;
				line-height: 24px;
					padding: 5px 17px !important;

					&:hover{
						text-decoration: underline !important;
					}
			}

			&.current_page_item{
				a{
					border: 2px solid #0876df !important;
				}
			}
		}
	}
}

.joinus_menu{
	ul{
		li{
			a{
				font-size: 20px;
				line-height: 20px;
				font-weight: 300;
				padding: 15px 20px !important;
			}
		}
	}
}

.faq_more{
	.avia-button{
		display: block;
		border: none;
		font-size: 24px !important;
		padding: 30px 10px !important;
	}
}

.faq {
	.av_toggle_section{
		&:last-child{
			.toggler:after{
				display: none;
			}
		}
	}
	.toggler{
		background: url(images/arrows.png) no-repeat right 2% #037ef3 !important;
		color: #fff !important;
		font-size: 24px;
		line-height: 28px;
		padding: 25px 80px 25px 40px !important;

		&:hover{
			text-decoration: underline !important;
			opacity: 0.85;
		}

		&.activeTitle{
			background-position: right 96% !important;
			&:after{
				display: none !important;
			}
		}

		&:after {
				background: none repeat scroll 0 0 #caccd1;
				bottom: -1px;
				content: "";
				height: 2px;
				left: 50%;
				margin-left: -25%;
				position: absolute;
				width: 50%;
				z-index: 1000000;
		}
	}

	.toggle_content{
		background: none repeat scroll 0 0 #f3f4f7 !important;
		margin: 0;
		padding: 50px 5%;
		font-size: 18px;
		font-weight: 300;
		line-height: 24px;

		.avia-button{
			display: block;
			margin-top: 40px;
		}

		p strong a{
			color: #037ef3;
		}

		.flex_column{
			padding: 0 4%;
		}

		.flex_column + br {
			display: none;
		}
	}
}


.fullsize_link{
	position: absolute;
	width: 100%;
	height: 100%;

}

.six_reasons,
.foure_reasons {

	.avia-button.avia-size-large {
			padding: 25px 50px;
			width: auto;
			font-size: 27px;
	}

	.av_one_fifth{
		width: 15%;

		&.first{
			&.avia-builder-el-last{
				clear: none;
				margin-left: 2%;
			}
		}
	}

	.av_textblock_section{

		h4{
			letter-spacing: 1px;
			margin-bottom: 25px;
		}
		p{
			font-size: 18px;
			line-height: 23px;
			font-weight: 300;

			&.thin48{
				color: #fff;
				font-weight: 400;
			}
		}
	}

	.av-special-heading{
		margin-bottom: 25px;
		padding: 40px 0 !important;

		.av-special-heading-tag{
			color: #fff;
		}

		&.yellow{
			background-color: #f48924;
		}

		&.lightgreen{
			background-color: #30c39e;
		}

		&.orange{
			background-color: #f85a40;
		}

		&.blue{
			background-color: #037ef3;
		}

		&.lghtyellow{
			background-color: #ffc845;
		}

		&.green{
			background-color: #0a8ea0;
		}
	}
}

.dropcap_block{
	color: #fff;

	.av_dropcap2 {
		border-radius: 0;
			font-size: 36px;
			font-weight: 300;
			height: 65px;
			margin-bottom: 25px;
			margin-right: 15px;
			padding: 14px;
			width: 65px;
	}

	p{
		display: table;
		color: #fff;
		margin: 0 0 14px;

		strong{
			color: unset;
		}
	}
}

.five_reasons{

	.avia-button.avia-size-large {
			padding: 40px;
	}

	.av_one_fifth{

		&.first{
			&.avia-builder-el-last{
				clear: none;
				margin-left: 2%;
			}
		}
	}

	.av_textblock_section{

		h4{
			letter-spacing: 1px;
			margin-bottom: 25px;
		}
		p{
			font-size: 18px;
			line-height: 23px;
			font-weight: 300;

		}
	}

	.av-special-heading{
		margin-bottom: 25px;
		padding: 40px 0 !important;

		.av-special-heading-tag{
			color: #fff;
		}

		&.yellow{
			background-color: #f48924;
		}

		&.lightgreen{
			background-color: #30c39e;
		}

		&.orange{
			background-color: #f85a40;
		}

		&.blue{
			background-color: #037ef3;
		}

		&.lghtyellow{
			background-color: #ffc845;
		}

		&.green{
			background-color: #0a8ea0;
		}
	}
}

.foure_reasons {

	.av-special-heading{
		max-width: 170px;
		margin: 0 0 0 auto;
	}
}


#searchform {
	> div {
		max-width: 710px !important;
		margin: auto;

		#searchsubmit,
		#searchsubmit:hover {
			background: none;
			color: #037ff3;
		}

		#searchdrop {
			.office {
				padding: 30px;
				margin: 30px 0;
				background-color: white;
				max-width: 710px;
				box-shadow: 3px 3px 3px rgba(0,0,0,0.1);

				div {
					font-size: 16px;
					margin-top: 5px;
				}

				.office-title {
					margin-top: 0px;
					margin-bottom: 30px;
					font-size: 30px;
				}

				.office-address {
					p {
						margin: 0;
					}
				}

				.office-phone {
					margin-top: 5px;
					margin-bottom: 8px;
				}

				.office-url {
					position: absolute;
					right: 30px;
					margin-top: -34px;
				}
			}
			.office-not-found {
				background: rgba(255,255,255,0.8);
				border-radius: 0 0 10px 10px;
				padding: 2px 7px;
				color: #88898D;
			}
		}
	}
}


.hideThis{
	display: none !important;
}

.avia-image-container{
	.avia-image-container-inner,
	.avia_image,
	.av-image-caption-overlay{
		width: 100%;
	}
}


#mobile_searchform {
		margin: 28px !important;
}

.av-video-service-youtube .av-click-overlay{
	display: none;
}

.show_on_mobile,
.formobile{
	display: none;
}

.fordesktop{
	display: block;
}


#advanced_menu_toggle,
#advanced_menu_hide {
		height: 49px !important;
		margin-top: -26px !important;
}

//
//
// MEDIAQUERYS
//
//
@media screen and (max-width: 1070px) {

	.programs_band{


		.flex_column{
			.av_textblock_section .avia_textblock {


				h2{
					font-size: 27px !important;
				}
			}
		}

	}

	body{
		.threeImgesBlocks .avia-button-wrap{
			.avia-button.avia-button-fullwidth{
				padding: 20px !important;
				font-size: 17px !important;
			}
		}

		#avia-menu {
			li{
				a{
					padding: 0 15px !important;
				}

				&.av-menu-button-bordered {
					.avia-menu-text{
						min-width: 90px;
					}
				}
			}
		}

		.avia-button-wrap{

			.avia-button{
				border-radius: 10px !important;

				&.avia-size-medium{
						font-size: 17px;
						line-height: 20px;
						min-width: 100%;
					 		padding: 20px 10px;
					}

				&.avia-size-x-large{
						font-size: 20px;
						line-height: 25px;
						min-width: 100%;
					 		padding: 15px 10px;
					}


				&.avia-size-large{
						font-size: 20px;
						line-height: 32px;
						min-width: 100%;
					 		padding: 20px 10px;
					}

			}
		}

		.threeImgesBlocks {
			.el_before_av_textblock + .av_textblock_section .avia_textblock {
					padding: 20px 5% 0;
			}
			.avia-button-wrap.el_after_av_textblock {
					padding: 0 5%;
			}
		}


	}


	#footer{

		.widget{
			margin: 10px 0 !important;

			&.widget_text_icl{

				.textwidget{
					position: relative;

					padding: 20px 0 110px;
					margin: 0 20px;

					p{
						color: #333;
						font-size: 15px;
						line-height: 24px;
					}
				}
			}

			&.widget_nav_menu{
				background: #fff;
				border-radius: 10px;

				& > div{
					position: relative;

					padding: 20px 0;
					margin: 0 20px;

					ul{
						li{
							a{
								font-size: 17px;
								line-height: 30px;
							}
						}
					}
				}
			}

		}
	}

	body.single#top {
		header h1.post-title,
		.entry-content h2 {
			width: 100% !important;
			margin-left: inherit !important;
			max-width: 100% !important;
			margin-top: 30px;
			margin-bottom: 30px;
		}

		#main .container_wrap.title_container {
			display: none;
		}
	}

	#wrap_all{
		-webkit-transition: all 0.3s ease-in-out 0s;
		-moz-transition: all 0.3s ease-in-out 0s;
		-o-transition: all 0.3s ease-in-out 0s;
		transition: all 0.3s ease-in-out 0s;
		overflow: visible !important;
	}

	.show_mobile_menu {
			overflow: visible !important;
			-webkit-transform: translate3d(-80%, 0px, 0px) !important;
			-moz-transform: translate3d(-80%, 0px, 0px) !important;
			-o-transform: translate3d(-80%, 0px, 0px) !important;
			transform: translate3d(-80%, 0px, 0px) !important;
	}

	.avia_transform3d .show_mobile_menu #mobile-advanced {
			-webkit-transform: translate3d(-25%, 0px, 0px) !important;
			-moz-transform: translate3d(-25%, 0px, 0px) !important;
			-o-transform: translate3d(-25%, 0px, 0px) !important;
			transform: translate3d(-25%, 0px, 0px) !important;

	}

	body{
		#mobile-advanced {
			padding: 15px 0;
			margin: 0 !important;
			width: 80%;

			-webkit-transform: scale(1);
			-moz-transform: scale(1);
			-o-transform: scale(1);
			transform: scale(1);

			li{
				a{
					font-size: 18px;
				}
			}
		}
	}


	#timeline{
		width: 100%;
		margin: 0 auto;

		.timepoint{

			.title{
				right: 36.3%;

				&.highlight{
					right: 34.7%;
				}
			}

			.point{
				background: #fff;
				//width: 270px;
				width: 30%;
				float: right;
				margin: 15px 0;
				position: relative;

				.text{
					padding: 20px;
					p{
						font-size: 16px;
						line-height: 22px;
						color: #52565e;
						font-weight: 300;
					}
				}
			}

		}
	}

}


////
////
////
////
////
////
////
////
////
@media screen and (max-width: 960px) {


	.responsive #top #wrap_all .flex_column:empty {
			margin: 0;
	}

	#timeline{
		width: 100%;
		margin: 0 auto;

		.timepoint{

			.title{
				right: 35.9%;

				&.highlight{
					right: 34%;
				}
			}

			.point{
				background: #fff;
				//width: 270px;
				width: 30%;
				float: right;
				margin: 15px 0;
				position: relative;

				.text{
					padding: 20px;
					p{
						font-size: 16px;
						line-height: 22px;
						color: #52565e;
						font-weight: 300;
					}
				}
			}

			.map{
				float: right;
				background: #fff;
				border: 5px solid #d2d4d9;
				padding: 20px 30px;
				position: absolute;
				right: -30px;
					z-index: 2;
					width: 430px;

				.exchanges{
					border-top: 1px solid #e5e7ea;
					border-bottom: 1px solid #e5e7ea;
					padding: 5px 0;
					margin-top: 20px;

					.txt{
						color: #52565e;
						font-size: 13px;
						font-weight: 300;
						float: left;
						padding: 9px 0;
					}

					.number{
						float: right;
						.num{
							float: left;
							background: #fff;
							color: #888c94;
							font-size: 16px;
							font-weight: 300;
							padding: 8px 6px;
							margin-left: 1px;
						}
					}
				}


				&.align_left{
					float: left;
					width: 52%;
					margin: -8% 0;
					background: none;
					border: none;
					padding: 0;
					position: relative;
					right: 0;


					.exchanges{
						padding: 15px 0;
						margin-top: 25px;

						.txt{
							font-size: 13px;
							padding: 9px 0;
						}

						.number{
							.num{
								background: #fff;
								font-size: 18px;
								font-weight: 300;
								padding: 10px 5px;
								margin-left: 3px;
							}
						}
					}
				}

			}
		}
	}

	body{
		#header_main{
			.container {
					padding: 0 25px;
			}
		}

		#avia-menu {
			li{
				a{
					font-size: 12px !important;
					padding: 0 9px !important;
				}

				&.av-menu-button-bordered {
					.avia-menu-text{
						min-width: 0;
					}
				}
			}
		}
	}


	.news_band{
		.slide-entry{
			.slide-content{
				padding: 10px 0px 60px;

				.entry-content {
					font-size: 15px;
					line-height: 20px;

					.read-more-link {
						padding: 0;
					}
				}
			}
		}
	}
}


////
////
////
////
////
////
////
////
@media screen and (max-width: 760px) {

	body{
		h2{
			font-size: 30px;
			line-height: 34px;
			font-weight: 800;
		}
		h3{
			font-size: 30px;
			line-height: 34px;
			font-weight: 400;
		}
	}

	#top{
		&.search-results{
			#main{
				.page-heading-container{
					padding-top: 30px;
				}
			}
		}
	}

	#top{
		&.error404 {
			#search-fail{
				padding: 30px 0  50px;
			}
		}
	}

	.fordesktop{
		display: none !important;
	}
	.formobile{
		display: block !important;
	}

	body{
		background: #037ff3;

		.show_mobile_menu{
			#advanced_menu_toggle{
				opacity: 0;
			}
		}

		#advanced_menu_hide{
			right: -80% !important;
			border: medium none;

			&:before{
				content: "" !important;
			}
		}

		#mobile-advanced {
			background: #037ff3 !important;
			padding: 85px 0 0;

			li{
				a{
					padding: 11px 28px;

					.avia-menu-text{
						color: #fff;
					}

					&:before{
						display: none;
					}

					&:active{
						background: #fff;
						.avia-menu-text{
							color: #037ff3;
						}
					}
				}

				.sub-menu{
					li{
						a{
							padding: 9px 25px 9px 50px;
							.avia-menu-text{
								font-size: 15px;
							}
						}

						.sub-menu{
							li{
								a{
									padding: 9px 25px 9px 70px;
								}
							}
						}
					}
				}


				&.current-menu-item,
				&.current_page_item,
				&.current_page_parent,
				&.current_page_ancestor,
				&.current-menu-parent {
					& > a{
						.avia-menu-text{
							position: relative;

							&:after{
								content: "";
								position: absolute;
								bottom: -5px;
								width: 100%;
								height: 2px;
								background: #fff;
								left: 0;
							}
						}
					}
				}
			}
		}
	}

	#timeline{
		width: 100%;
		margin: 0 auto;

		.timepoint{

			&:after {
					background: none repeat scroll 0 0 #d2d4d9;
					content: "";
					height: 100%;
					position: absolute;
					right: auto;
					left: 43px;
					top: 0;
					width: 6px;
					z-index: 0;
			}

			&.ismap {
					margin-bottom: 300px;
			}

			.title{
				right: auto;
				left: 17px;

				&.highlight{
					right: auto;
					left: 10px;
					width: 70px;
					height: 70px;

					span{
						font-size: 20px;
						line-height: 22px;
						margin-top: 25px;
					}
				}
			}

			.point{
				background: #fff;
				//width: 270px;
				width: 66%;
				left: 100px;
				float: left;
				margin: 60px 0;
				position: relative;

				.text{
					padding: 20px;
					h3{
						font-size: 16px;
					}
					p{
						font-size: 14px;
						line-height: 18px;
						color: #52565e;
						font-weight: 300;
					}
				}

				&.align_left {
						float: left;
					margin: 60px 0;
						width: 66%;

						&:before {
							border-color: transparent  #ffffff transparent transparent;
							border-style: solid;
							border-width: 12px 12px;
							content: "";
							height: 0;
							position: absolute;
							left: -24px;
							top: 50%;
							margin-top: -12px;
							width: 0;
					}
				}
			}

			.map{
				float: right;
				background: #fff;
				border: 5px solid #d2d4d9;
				padding: 10px;
				position: absolute;
				right: 0;
					z-index: 2;
					width: 100%;

				.exchanges{
					border-top: 1px solid #e5e7ea;
					border-bottom: 1px solid #e5e7ea;
					padding: 5px 0;
					margin-top: 20px;

					.txt{
						color: #52565e;
						font-size: 13px;
						font-weight: 300;
						float: left;
						padding: 0;
						height: 32px;
						width: 48%;
						display: table;

						span{
							display: table-cell;
							vertical-align: middle;
						}
					}

					.number{
						float: right;
						.num{
							float: left;
							background: #fff;
							color: #888c94;
							font-size: 16px;
							font-weight: 300;
							padding: 8px 6px;
							margin-left: 1px;
						}
					}
				}


				&.align_left{
					float: right;
					width: 100%;
					margin: 0 0;
					background: #f3f4f7;
					border: 5px solid #d2d4d9;
					padding: 10px;
					position: relative;
					right: 0;


					.exchanges{
						padding: 15px 0;
						margin-top: 25px;

						.txt{
							font-size: 13px;
							padding: 2px 0;
							width: 45%;
						}

						.number{
							.num{
								background: #fff;
								font-size: 18px;
								font-weight: 300;
								padding: 10px 5px;
								margin-left: 3px;
							}
						}
					}
				}

			}
		}
	}


	#footer{

		.footer_wrapping{
			//padding: 0 20px;

			.full_width{

				.av_one_third,
				.av_two_third{
					display: none;
				}

				.av_one_half{
					width: 50% !important;
					padding: 0 5px;
				}
			}



			.flex_column{
				margin: 0 0 5px !important;

				.full_width {
						margin: 0 !important;
				}
			}
		}

	}

	.hide_on_mobile{
		display: none !important;
	}

	.show_on_mobile{
		display: block !important;
	}

	.responsive #top .flex_column:empty {
			height: 0;
			margin: -20px 0 !important;
			overflow: hidden;
	}


	.news_band{
		.slide-entry{
			.slide-content{
				min-height: 0;
				padding: 0 0 60px;
			}
		}
	}

	.faq_more{
		.avia-button{
			display: block;
			border: none;
			font-size: 18px !important;
			padding: 20px 10px !important;
			margin-bottom: -35px;
		}
	}
	.faq {

		.toggler{
			background: url(images/arrows.png) no-repeat right 8% #037ef3 !important;
			font-size: 18px;
			line-height: 24px;
			padding: 20px 80px 20px 25px !important;

			&.activeTitle{
				background-position: right 93% !important;
			}
		}

		.toggle_content{
			padding: 30px 5%;
			font-size: 16px;
			font-weight: 300;
			line-height: 22px;


			.flex_column{
				padding: 0;
			}

			.flex_column + br {
				display: none;
			}
		}
	}


	.explore_btn{
		margin: -30px 0 -60px !important;
	}

	.responsive {
		#top #wrap_all {
			.container {
				max-width: 95% !important;
					width: 95% !important;

					#advanced_menu_toggle,
					#advanced_menu_hide {
						border-color: #037ff3;

					}
			}
		}



			#advanced_menu_hide{
				right: 3%;
				top: 39px;
				height: 49px !important;
			}
	}

	#top #wrap_all .band_content h1, #top #wrap_all .darkband_content h1, #top #wrap_all .main_color h1{
		font-size: 40px !important;
	}

	.mainHeader{
		.avia_textblock{
			font-size: 20px !important;
			p {
					line-height: 27px !important;
			}
		}
	}

	.imagebg_textblock .avia_textblock p {
			margin: 0.85em auto;
			width: 93%;
	}


	.programs_band{
		.avia-builder-el-last {
				float: none;
				margin: 0 auto !important;
		}

		.flex_column{
			//text-align: center;

			.av_textblock_section {
				padding: 0 10px;
				.avia_textblock {
					min-height: 0 !important;
					padding: 20px 0 20px 0;


					h2{
						min-height: 0 !important;
					}
				}
			}
		}
	}


	body{
		.avia-content-slider .slide-image,
		.avia-content-slider .slide-image img{
			width: 100%;
		}
		.avia-content-slider .slide-entry-wrap {
				float: left;
				margin-bottom: -30px;
				width: 100%;
		}

		&#top h2 br {
				display: none !important;
		}

		.threeImgesBlocks{
			.flex_column{
				margin-bottom: 50px !important;
			}
		}

		.six_reasons {
			.av-special-heading {
					margin: 0 auto 25px;
					max-width: 140px;
					padding: 40px 0 !important;
					width: 100%;
			}

			.av_textblock_section{
				text-align: center;

				h4{
					margin-bottom: 15px;
				}
				p {
						font-size: 15px;
						line-height: 20px;
				}
			}
		}

		.threeImgesBlocks{
			&.avia-section-large .content {
					padding-top: 0;
			}


			.flex_column .av_textblock_section .avia_textblock {
					min-height: 0;
			}
		}

		.threeEqualBlocks2 {
			.flex_column{
				.avia_textblock {
						min-height: 0;
						padding: 25px;
				}
			}

			.avia-button {
					font-size: 19px !important;
					padding-bottom: 18px !important;
					padding-top: 18px !important;
			}
		}

		.av_textblock_section{
				p.thin48{
					margin-bottom: 50px !important;
				}
			}

			.content, .sidebar {
				padding-bottom: 0;
				padding-top: 0;
		}

		.mainHeader {
			.template-page {
				.entry-content-wrapper {
					p {
						line-height: 30px;
					}
				}
			}
		}

		.avia-section-large .content,
		.avia-section-large .sidebar {
				padding-bottom: 0;
				padding-top: 0;
		}
		.avia-section {
			.container {
				//height: auto !important;
				padding: 70px 0 !important;
			}

			&.numbers_row,
			&.mainHeader{
				.container {
					padding: 0 0 !important;

					.avia-content-slider-element-container{
						padding: 70px 0;

						.avia-smallarrow-slider-heading {
								bottom: 0 !important;
						}

					}
				}
			}
			&.bottom_margin:after {
				background: white;
				height: 35px;
				display: block;
			}
		}

		.avia-animated-number{
			margin-top: 30px !important;

			.heading.avia-animated-number-title{
				font-size: 40px !important;
			}
		}


		.threeEqualBlocks .flex_column .avia_textblock {
				min-height: 0;

				h2{
					margin: 0 0 10px 0;
				}
		}

		.threeEqualBlocks .av_one_third{
			padding: 0;
			margin: 0 0 40px !important;
		}

		.avia-button.avia-color-blue:hover{
			background-color: #005cd1;
		}
		.avia-button.avia-color-green:hover{
			background-color: #007183;
		}
		.avia-button.avia-color-orange:hover{
			background-color: #df4127;
		}


		.top_rounded_buttons {
			.entry-content-wrapper {
				.flex_column {
					text-align: center;
				}
			}
		}
		.avia-button-wrap {
			&.rounded-button {
				display: inline-block;
				float: none;
			}
		}

		.avia-button{
			border-radius: 10px !important;

			&.avia-size-medium{
					font-size: 18px;
					line-height: 20px;
					min-width: 100%;
				 		padding: 20px 30px;
				}

			&.avia-size-x-large{
					font-size: 20px;
					line-height: 25px;
					min-width: 100%;
				 		padding: 15px 20px;
				}


			&.avia-size-large{
					font-size: 20px;
					line-height: 32px;
					min-width: 100%;
				 		padding: 20px 10px;
				}

		}

		.av_three_fifth{
			.avia-button{
				width: 100%;
			}
		}


		.heading.avia-animated-number-title{
			color: #fff;
				font-weight: bold;
				font-size: 60px;
				letter-spacing: 3px;

				.avia-no-number{
					color: #fff;
					opacity: 1;
				}
		}

		.avia-animated-number-content{
			margin-top: 5px;
			p{
				line-height: 21px !important;
						padding: 0 35px;
						letter-spacing: 1px;
						font-weight: 300;
						color: #fff;
			}
		}


		#sb_instagram{
			.sbi_item{
				width: auto !important;
			}
		}

	}


	body.single#top {
		.entry-content {
			h3, h4, p {
				clear: both;
			}

			a.lightbox-added {
				width: 100%;
			}
			img {
				clear: both;
				text-align: center;
				float: none;
				margin: 10px auto !important;
			}
		}
	}

	#footer{

		.widget{
			margin: 10px 0 !important;

			&.widget_text_icl{

				.textwidget{
					position: relative;
					min-height: 0;
					padding: 20px 0 110px;
					margin: 0 30px;

					p{
						color: #333;
						font-size: 15px;
						line-height: 24px;
					}
				}
			}

			&.widget_nav_menu{
				background: #fff;
				border-radius: 10px;

				& > div{
					position: relative;
					min-height: 0;
					padding: 20px 0;
					margin: 0 30px;

					ul{
						li{
							a{
								font-size: 17px;
								line-height: 30px;
							}
						}
					}
				}
			}

		}


		// Footer navigation
		.footer_navigation{
			border-top: 3px solid #52565e;
			border-bottom: 3px solid #52565e;
			padding: 30px 0;
			height: auto;
			margin: 15px 0;

			ul {
				text-align: left;
				margin-bottom: 0;

				li{
					display: block;
					margin: 8px 10px;

					a{
						color: #037ef3;
						font-size: 18px;
					}

					&.justifyer{
						display: none;
					}
				}
			}
		}
	}



	.foure_reasons {
		.avia_textblock {
			text-align: center;
		}
		.av-special-heading{
			margin: 0 auto 0 auto;
		}
	}

}

.location_band{
	position: relative !important;

	.container {
		position: static;
		.content{
			vertical-align: top !important;
			position: static;

			.av_textblock_section{
				margin-top: 115px;
			}

			#searchform{
				position: absolute;
				top: 0;
				left: 0;
				padding: 22px 0 !important;
				width: 100%;
				background: #037ff3;

				#s{
					font-family: Lato;
					font-weight: 300;
					font-size: 20px;
					line-height: 25px;
					box-shadow: inset 0 12px 0 rgba(0,0,0,0.05);
					padding: 9px 50px 9px 10px !important;
					border: medium none;
				}
				#searchsubmit{
					font-size: 23px;
					width: 50px !important;
					height: 100% !important;

					&.searching{
						color: #30c39e;

						-webkit-transition: all 0.5s ease 0s;
						transition: all 0.5s ease 0s;

							-webkit-animation-name: jump;
							-webkit-animation-duration: 1.5s;
							-webkit-animation-timing-function: ease-bounce;
							-webkit-animation-delay: 0s;
							-webkit-animation-iteration-count: infinite;
							-webkit-animation-direction: normal;
							-webkit-animation-play-state: running;

							animation-name: jump;
							animation-duration: 1.5s;
							animation-timing-function: ease-bounce;
							animation-delay: 0s;
							animation-iteration-count: infinite;
							animation-direction: normal;
							animation-play-state: running;
					}
				}
			}

			#searchdrop {
					position: absolute;
					top: 190px;
					width: 100%;

					.office{
						box-shadow: 0 7px 7px rgba(0, 0, 0, 0.3) !important;
					}

					.office-title{
						font-weight: 300;
						margin-bottom: 25px !important;
					}

					.office-address,
					.office-phone,
					.office-email {
						font-size: 18px !important;
						font-weight: 300;
					}

					.office-phone {
						margin-top: 10px !important;
						margin-bottom: 5px !important;
					}

					.office-url{
						bottom: 55px;
						margin-top: 0 !important;
						a{
							font-size: 20px;
							font-weight: 300;
							padding: 11px 30px 11px 25px;
							border-radius: 5px !important;
						}
					}

					.office-not-found {
						background: none repeat scroll 0 0 #fff !important;
						border-radius: 0 !important;
						color: #88898d;
						padding: 30px !important;
						font-size: 20px;
						font-weight: 300;
				}

			}
		}
	}
}


@-webkit-keyframes jump {
		from {font-size: 5px;}
		to {font-size: 44px;}
}
@keyframes jump {
		from {font-size: 5px;}
		to {font-size: 44px;}
}

#top {
	.avia_ajax_form {
		max-width: 650px;
		text-align: center;
		margin: auto;

		.form_fullwidth {
			text-align: left;
		}

		label {
			font-size: 16px !important;
			margin-left: 10px;
			color: #52565e !important;
		}

		select,
		input,
		textarea {
			border-radius: 7px !important;
			font-size: 20px !important;
			padding: 10px !important;
			color: black !important;
		}

		.form_element {
			input.button {
				color: white !important;
				padding: 25px 0 !important;
				font-size: 28px !important;
				background: none;
				width: 100%;
				border: 3px solid white;
				margin-top: 45px;
			}
		}

		.error {
			select,
			input,
			textarea {
				border: 3px solid red !important;
			}

		}
	}

	.light_bg{
		.avia_ajax_form {
			.form_element {
				input.button {
					color: #52565e !important;
					padding: 25px 0 !important;
					font-size: 28px !important;
					background: none;
					width: 100%;
					border: 3px solid #52565e;
					margin-top: 45px;
				}
			}

			.error {
				select,
				input,
				textarea {
					border: 3px solid red !important;
				}

			}
		}
	}
}


body.single#top #wrap_all {
	.big-preview img {
		width: auto;
		margin: auto;
	}

	.title_container {
		background: none !important;

		a,
		.breadcrumb {
			color: #52565e !important;
		}
	}

	header h1.post-title {
		color: #40424A;
		font-size: 48px;
		font-weight: 400;
		width: 900px;
		margin-left: -150px;
		max-width: 900px;
	}

	.entry-content {
		h2 {
			width: 800px;
			margin: 40px 0 45px -100px;
			max-width: 800px;
			text-align: center;
		}

		h3 {
			font-weight: 400;
		}

		h3, p {
			font-family: 'Lato', sans-serif;
		}

		a.lightbox-added {
			&.alignleft:nth-of-type(1),
			&.alignright:nth-of-type(1) {
				margin-right: 60px !important;
			}
			&.alignleft:nth-of-type(2),
			&.alignright:nth-of-type(2) {
				margin-right: 0px;
			}
			&.alignleft,
			&.alignright {
				margin-bottom: 60px !important;

				img {
					margin: 0 !important;
				}
			}
		}
	}

	.avia-gallery-thumb {
		a {
			width: 50%;
		}
	}

}

.avia-section.no_min_height {
	min-height: 0 !important;
}
