#timeline .timepoint.ismap:after {
    height: calc(100% + 370px);
}
#timeline .timepoint.ismap.last:after {
    height: 105%;
}

body#top h2.orange-heading{
	color: #f85a40;
	text-transform: none;
	font-size: 36px;
	line-height: 40px;
	font-weight: 400;
}

body#top h2.green-heading{
	color: #0a8ea0;
	text-transform: none;
	font-size: 36px;
	line-height: 40px;
	font-weight: 400;
}

body#top h2.lightgreen-heading{
	color: #31c39e;
	text-transform: none;
	font-size: 36px;
	line-height: 40px;
	font-weight: 400;
}

body#top h2.yellow-heading{
	color: #ffc845;
	text-transform: none;
	font-size: 36px;
	line-height: 40px;
	font-weight: 400;
}

body#top h2.blue-heading{
	color: #037ef3;
	text-transform: none;
	font-size: 36px;
	line-height: 40px;
	font-weight: 400;
}

body#top h2.blue-heading{
	color: #037ef3;
	text-transform: none;
	font-size: 36px;
	line-height: 40px;
	font-weight: 400;
}

body#top h3.blue-heading{
	color: #037ef3;
	text-transform: none;
	font-size: 30px;
	line-height: 36px;
	font-weight: 400;
}

body#top h2.white-heading{
	color: #fff;
	text-transform: none;
	font-size: 60px;
	line-height: 66px;
	font-weight: bold;
	letter-spacing: -2px;
	margin-bottom: 60px;
}

body#top h2.thin-heading{
	color: #52565e;
	text-transform: none;
	font-size: 48px;
	line-height: 55px;
	font-weight: 300;
	letter-spacing: -2px;
	margin-bottom: 60px;
}

body#top h4.social-link {
	color: #FFF;
	text-transform: none;
	font-size: 25px;
	line-height: 30px;
	font-weight: 400;
}

body p.normal36{
	font-size: 36px !important;
	line-height: 42px !important;
	font-weight: 400 !important;
	margin-top: 0;
	color: #fff;
}

body p.normal60{
	font-size: 60px;
	line-height: 66px;
	font-weight: 400;
}

body p.bold24{
	font-size: 24px;
	line-height: 30px;
	font-weight: 6000;
}


body p.thin36{
	font-size: 36px;
	line-height: 42px;
	font-weight: 300;
}

body p.thin48{
	font-size: 48px !important;
	line-height: 52px !important;
	font-weight: 300;
	margin: 0;
}


body p.bold48{
	font-size: 48px !important;
	line-height: 52px !important;
	font-weight: 800;
	margin: 0;
}

body p.thin30{
	font-size: 30px;
	line-height: 36px;
	font-weight: 300;
}

body p.thin24{
	font-size: 24px;
	line-height: 30px;
	font-weight: 300;
}

body p.thin18{
	font-size: 18px;
	line-height: 22px;
	font-weight: 300;
}

body p.thin18lh28{
	font-size: 18px;
	line-height: 28px;
	font-weight: 300;
}

body p.thin36 strong,
body p.thin30 strong,
body p.thin24 strong,
body p.thin18 strong,
body p.thin18lh28 strong {
	color: #037ef3;
	font-weight: 400;
}

body a.border-button,
body a.border-button-orange,
body a.border-button-green {
	border: 2px solid #fff;
	background: none;
	color: #fff;
	font-size: 18px;
	line-height: 21px;
	padding: 15px 20px;
	display: block;
	border-radius: 13px;
	font-weight: 300;

	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

body a.border-button-orange {
	border: 2px solid #f85a40;
	color: #f85a40;
}
body a.border-button-green {
	border: 2px solid #0a8ea0;
	color: #0a8ea0;
}

body a.border-button strong,
body a.border-button-orange strong,
body a.border-button-green strong {
	font-size: 30px;
	line-height: 31px;
	display: block;
	color: #fff;
	font-weight: 300;

	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

body a.border-button-orange strong {
	color: #f85a40;
}
body a.border-button-green strong {
	color: #0a8ea0;
}

body a.border-button:hover{
	background: #fff;
	color: #000;
	text-decoration: none;
}
body a.border-button:hover strong{
	color: #000;
	text-decoration: none;
}


body a.border-button-green:hover {
	background: #0a8ea0;
	color: #fff;
	text-decoration: none;
}
body a.border-button-green:hover strong{
	color: #fff;
	text-decoration: none;
}

body a.border-button-orange:hover {
	background: #f85a40;
	color: #fff;
	text-decoration: none;
}
body a.border-button-orange:hover strong{
	color: #fff;
	text-decoration: none;
}

body a.play-video{
	border: 2px solid #fff;
	background: none;
	color: #fff;
	font-size: 24px;
	line-height: 28px;
	padding: 20px 35px;
	display: inline-block;
	border-radius: 50px;
	font-weight: 300;
	margin: 0 auto;
	pointer-events: none;
	opacity: 0;

	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

body a.play-video.showPay{
	opacity: 1;
	pointer-events: auto;
}
body a.play-video:hover{
	background: #fff;
	color: #000;
	text-decoration: none;
}



/* Tablet */
@media screen and (max-width: 1060px) {
	body#top h2.orange-heading{
		color: #f85a40;
		text-transform: none;
		font-size: 26px;
		line-height: 30px;
		font-weight: 400;
	}

	body#top h2.green-heading{
		color: #0a8ea0;
		text-transform: none;
		font-size: 26px;
		line-height: 30px;
		font-weight: 400;
	}

	body#top h2.lightgreen-heading{
		color: #31c39e;
		text-transform: none;
		font-size: 26px;
		line-height: 30px;
		font-weight: 400;
	}

	body#top h2.yellow-heading{
		color: #ffc845;
		text-transform: none;
		font-size: 26px;
		line-height: 30px;
		font-weight: 400;
	}

	body#top h2.blue-heading{
		color: #037ef3;
		text-transform: none;
		font-size: 26px;
		line-height: 30px;
		font-weight: 400;
	}

	body#top h2.blue-heading{
		color: #037ef3;
		text-transform: none;
		font-size: 26px;
		line-height: 30px;
		font-weight: 400;
	}

	body#top h3.blue-heading{
		color: #037ef3;
		text-transform: none;
		font-size: 20px;
		line-height: 26px;
		font-weight: 400;
	}

	body#top h2.white-heading{
		color: #fff;
		text-transform: none;
		font-size: 34px;
		line-height: 36px;
		font-weight: bold;
		letter-spacing: 0px;
		margin-bottom: 40px;
	}

	body#top h2.thin-heading{
		color: #52565e;
		text-transform: none;
		font-size: 28px;
		line-height: 35px;
		font-weight: 300;
		letter-spacing: 0px;
		margin-bottom: 40px;
	}

	body#top h4.social-link {
		color: #FFF;
		text-transform: none;
		font-size: 15px;
		line-height: 20px;
		font-weight: 400;
	}

	body p.normal36{
		font-size: 20px;
		line-height: 30px;
		font-weight: 400;
		color: #fff;
	}

	body p.thin24{
		font-size: 19px;
		line-height: 24px;
		font-weight: 300;
	}
	
	body p.thin36{
		font-size: 20px;
		line-height: 30px;
		font-weight: 300;
	}

	body p.thin48{
		font-size: 28px !important;
		line-height: 32px !important;
		font-weight: 300;
		margin: 0;
	}


	body p.thin30{
		font-size: 20px;
		line-height: 26px;
		font-weight: 300;
	}

	body p.thin18{
		font-size: 15px;
		line-height: 22px;
		font-weight: 300;
		margin: 5px 0;
	}


	body p.bold48{
		font-size: 40px !important;
		line-height: 47px !important;
		font-weight: 800;
		margin: 0;
	}
}


/* 
 * MOBILE
 */
@media screen and (max-width: 760px) {
	body#top h2.orange-heading{
		color: #f85a40;
		text-transform: none;
		font-size: 26px;
		line-height: 30px;
		font-weight: 400;
	}

	body#top h2.green-heading{
		color: #0a8ea0;
		text-transform: none;
		font-size: 26px;
		line-height: 30px;
		font-weight: 400;
	}

	body#top h2.lightgreen-heading{
		color: #31c39e;
		text-transform: none;
		font-size: 26px;
		line-height: 30px;
		font-weight: 400;
	}

	body#top h2.yellow-heading{
		color: #ffc845;
		text-transform: none;
		font-size: 26px;
		line-height: 30px;
		font-weight: 400;
	}

	body#top h2.blue-heading{
		color: #037ef3;
		text-transform: none;
		font-size: 26px;
		line-height: 30px;
		font-weight: 400;
	}

	body#top h2.blue-heading{
		color: #037ef3;
		text-transform: none;
		font-size: 26px;
		line-height: 30px;
		font-weight: 400;
	}

	body#top h3.blue-heading{
		color: #037ef3;
		text-transform: none;
		font-size: 18px;
		line-height: 20px;
		font-weight: 400;
	}

	body#top h2.white-heading{
		color: #fff;
		text-transform: none;
		font-size: 34px;
		line-height: 36px;
		font-weight: bold;
		letter-spacing: 0px;
		margin-bottom: 40px;
	}

	body#top h2.thin-heading{
		color: #52565e;
		text-transform: none;
		font-size: 28px;
		line-height: 35px;
		font-weight: 300;
		letter-spacing: 0px;
		margin-bottom: 40px;
	}

	body#top h4.social-link {
		color: #FFF;
		text-transform: none;
		font-size: 15px;
		line-height: 20px;
		font-weight: 400;
	}

	body p.normal36{
		font-size: 20px !important;
		line-height: 30px !important;
		font-weight: 400;
		color: #fff;
	}


	body p.thin36{
		font-size: 20px !important;
		line-height: 30px !important;
		font-weight: 300 ;
	}

	body p.thin48{
		font-size: 28px !important;
		line-height: 32px !important;
		font-weight: 300;
		margin: 0;
	}


	body p.thin30{
		font-size: 20px;
		line-height: 26px;
		font-weight: 300;
	}

	body p.thin18{
		font-size: 15px;
		line-height: 22px;
		font-weight: 300;
		margin: 5px 0;
	}


	body p.bold48{
		font-size: 28px !important;
		line-height: 35px !important;
		font-weight: 800;
		margin: 0;
	}

	body p.normal60{
		font-size: 45px;
		line-height: 50px;
		font-weight: 400;
	}

	.mainHeader .avia_textblock p.normal60 {
	    font-size: 45px;
	    font-weight: 400;
	    line-height: 50px !important;
	}

}